<!-- views/partials/header.ejs -->
<nav>
    <ul>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/github-calendar">GitHub Contributor Calendar</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</nav>
<hr>
