# Ignore node_modules folder
node_modules/

# Ignore dist folder
dist/

# Ignore build folder
build/ 

.idea/

# Ignore environment files
.env

# Ignore logs
*.log
logs/
npm-debug.log*

# Ignore system files
.DS_Store
