<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Tailwind Import -->
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Profile</title>
</head>
<body>
    <%- include('partials/header') %>

    <h1>Welcome!</h1>
    <p>Your username is <strong><%= username %></strong></p>
    <a href="/logout">Logout</a>
</body>
</html>
