<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Tailwind Import -->
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="main.css">
    <title>Profile</title>
</head>
<body>
    <%-include ('partials/header.ejs')%>

    <div class="profile-section">
        <h1 class="text-5xl font-bold mb-6">Welcome!</h1>
        <p>Your username is <strong><%= username %></strong></p>
        <button type="button" onclick="window.location.href='/logout'" id="logout-button" class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">Logout</a></button>
    </div>

</body>
</html>
